<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Project-MMXXIII</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Project_MMXXIII.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="custom-navbar">
            <div id="navbar-list-container">
                <ul class="navbar-list">
                    <li>
                        <div id="project-name">
                            Project-MMXXIII
                        </div>
                    </li>
                    <li class="" id="index-nav-link">
                        <a class="" href="/App">Home</a>
                    </li>
                    <li class="" id="privacy-nav-link">
                        <a class="" asp-area="" asp-page="/Privacy">Privacy</a>
                    </li>
                    <li class="" id="websocketstest-nav-link">
                        <a class="" asp-area="" asp-page="/WebSocketsTest">WebSocketsTest</a>
                    </li>
                </ul>
            </div>
        </nav>

    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="custom-footer border-top">
        <div>
            &copy; 2023 - Project-MMXXIII - <a class="footer-link" asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>