<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Project-MMXXIII</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="custom-navbar">
            <div id="navbar-list-container">
                <ul class="navbar-list">
                    <li>
                        <a id="project-name" href="/app">
                            Project-MMXXIII
                        </a>
                    </li>
                    <li class="" id="index-nav-link">
                        <a class="" id="games-link" href="/App" onmouseover='show();'>Games</a>
                    </li>
                    <li>
                        <a class="" href="/">Scoreboard</a>
                    </li>
                    <li>
                        <a class="" href="/">Friends</a>
                    </li>
                    <li id ="profile-link">
                        <a class="" href="/">Profile</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="collapsed-list" onmouseleave='hide();'>
            <a href="/tictactoe">Tic Tac Toe</a>
            <a href="">Rock Paper Scissors</a>
            <a href="">Rock Paper Scissors</a>
            <a href="">Rock Paper Scissors</a>
            <a href="">Rock Paper Scissors</a>
            <div style="clear:both;"></div>
        </div>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="custom-footer border-top">
        <div>
            &copy; 2023 - Project-MMXXIII - <a class="footer-link" asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
    
</body>
</html>