@{
    ViewData["Title"] = "TicTacToe";
}

<link rel="stylesheet" href="~/css/TicTacToeLobby.css">

<h1>TicTacToe</h1>

<div id="button-wrapper"> 
    <button id="create-button" class="custom-button">Create</button>  
    <button id="refresh-button" class="custom-button">Refresh</button>
    <input type="text" id="lobby-id-input" placeholder="Lobby ID"/>
    <button id="join-button" class="custom-button">Join</button>
    <div style="clear:both;"></div>
</div>

<br />
@if (((IEnumerable<KeyValuePair<string, Project_MMXXIII.GamesLogic.TicTacToe.LobbyControl>>)ViewData["lobbies"]!).Count() > 0) {
    <h3>Available lobbies:</h3>
}


<div id="lobby-list-container"> 

    <ul id="lobbies">
        @foreach (var item in (IEnumerable<KeyValuePair<string, Project_MMXXIII.GamesLogic.TicTacToe.LobbyControl>>)ViewData["lobbies"]!)
        {
            <li>
                @{
                    if (item.Value < Project_MMXXIII.GamesLogic.TicTacToe.LobbyControl.TwoPlayers)
                    {
                        <a href="/tictactoe/game/@item.Key">
                            <div>
                                <p>@item.Key</p>
                                <p>1/2</p>
                            </div>
                        </a>
                        <br>
                    }
                }
            </li>
        }
    </ul>
</div>


<script src="~/js/TicTacToeLobby.js"></script>