@{
    ViewData["Title"] = "TicTacToe";
}

<link rel="stylesheet" href="~/css/TicTacToeLobby.css">

<h1>TicTacToe</h1>
<h3>Available lobbies:</h3>

<div id="lobby-list-container"> 

    <ul id="lobbies">
        @foreach(var item in (List<KeyValuePair<string, int>>)ViewData["lobbies"]!) {
            <li>
                <a href="/tictactoe/game/@item.Key">
                    <div>
                        <p>@item.Key</p>
                        <p>Ilosc Graczy</p>
                    </div>
                </a>
                <br>
            </li>
        }
    </ul>
</div>


<button id="create-button">Create</button>

<button id="refresh-button">Refresh</button>

<script src="~/js/TicTacToeLobby.js"></script>
<script>
    
</script>