@{
    ViewData["Title"] = "Home";
}

<div class="games-list">
    <h1 class="display-4">Welcome</h1>
    <h2 class="display-7">Games are listed below. </h2>
    <ul>
        <li>
            <a class="navbar-brand" href="App/TicTacToe">Tic Tac Toe</a>
        </li>
        <li> 
            <a class="navbar-brand" asp-area="" asp-page="">Rock Paper Scissors </a>
        </li>
    </ul>
</div>

<script>
    document.getElementById("index-nav-link").style.backgroundColor = "#034078";
    document.getElementById("index-nav-link").style.color = "black";
</script>