@{
    ViewData["Title"] = "Home";
}

<div class="games-list">
    <br />
    <h1 class="display-4">Welcome</h1>
    <ul id="tile-list">
        <li>
            <a href="/TicTacToe">
                <div class="tile">
                    <img />
                    <p>Tic Tac Toe</p>
                </div>
            </a>
        </li>
        <li>
            <a href="/TicTacToe">
                <div class="tile">
                    <img />
                    <p>Rock Paper Scissors</p>
                </div>
            </a>
        </li>
    </ul>
</div>

<script>
    document.getElementById("index-nav-link").style.backgroundColor = "#034078";
    document.getElementById("index-nav-link").style.color = "black";

    
</script>