@{
    ViewData["Title"] = "TicTacToe";
}

<h1>TicTacToe</h1>

<div> 
    <h1> 
        Available lobbies:
    </h1>

    <ul>
    </ul>

</div>

<div>
    <button>
        Create
    </button>
</div>