/* ------------------------------Colours----------------------------- */
:root {
    --main: #0260b5; /* Indigo dye */
    --first: #1282a2; /* Cerulean */
    --third: #001f54; /* Penn Blue */
    --fourth: #fefcfb; /* Walter White */
    --fifth: #0a1128; /* Oxford Blue */
}
/* ------------------------------------------------------------------ */

html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: var(--main);
  color: white;
}

#game-name{
    text-align: left;
    margin: 50px;
    margin-top:10px;
    margin-bottom: 30px;
}

.custom-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px;
    text-align: center;
    background-color: var(--third);
    color: white;
}

a{
    color: white;
}

navbar {
    background-color:var(--third);
    color: white;
}

.footer-link {
    color: white;
    text-decoration: none;
    font-style: italic;
}

.custom-navbar {
    background-color: var(--third);
    width: 100%;
    padding: 0 5px;
    margin: 0px;
}


.navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--third);
}

.navbar-list li {
    float: left;

}

.navbar-list a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.navbar-list a:hover {
    background-color: var(--fifth);
}

#project-name {
    text-decoration: none;
    font-size: 30px;
    color: white;
    display: block;
    text-align: center;
    padding: 5px;
    padding-right: 15px;
}
#project-name:hover{
    background-color:inherit;    
}

#collapsed-list {
    display: none;
    width: 100%;
    background-color: var(--third);
}

#collapsed-list a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    display: block;
    float: left;
    background-color: var(--third);
}

#collapsed-list a:hover {
    background-color: var(--fifth);
}

#tile-list{
    list-style-type:none;
}

#tile-list li{
    float:left;
    margin-right: 30px;
}

.tile{
    border: 2px solid var(--fifth);
    border-radius: 10px;
    width:200px;
    height:250px;
    align-items: center;
    background-color:inherit;
}

.tile p{
    font-size: 25px;
    text-align: center;
}

#tile-list a{
    text-decoration: none;
    height: inherit;
    width: inherit;   
    transition: background-color 0.2s;
}

#tile-list a:hover{
    background-color: var(--third);
    color:white;
}