/* ------------------------------Colours----------------------------- */
:root {
    --main: #034078;    /* Indigo dye */
    --first: #1282a2;   /* Cerulean */
    --third: #001f54;   /* Penn Blue */
    --fourth: #fefcfb;  /* Walter White */
    --fifth: #0a1128;   /* Oxford Blue */ 
}
/* ------------------------------------------------------------------ */

html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: var(--main);
  color: white;
}

#game-name{
    text-align: left;
    margin: 50px;
    margin-top:10px;
    margin-bottom: 30px;
}

/* ------------------------------TicTacToe---------------------------- */

#tictactoe-container{
    width:500px;
    height:500px;
    margin-left:auto;
    margin-right:auto;
    z-index:-1;
    position:fixed;
    left: 0;
    right: 0;
}

.button-holder{
    float: left;
    width:164px;
    height:164px;
}

.vertical-line {
    float: left;
    background-color: white;
    width: 4px;
    height: 164px;
}

.horizontal-line {
    clear: both;
    background-color: white;
    width: 100%;
    height: 4px;
}

.btn btn-default btn-circle btn-xl{
    height: 164px;
    width: 164px;
}

.actual-button {
    border: none;
    background-color: var(--main);
    height: 100%;
    width: 100%;
    transition: background-color 0.2s;
    font-size: 100px;
    color: white;
    text-align:center;
}

.actual-button:hover{
    background-color: var(--fifth);
}

.disabled-button {
    border: none;
    background-color: var(--third);
    height: 100%;
    width: 100%;
    font-size: 100px;
    color: white;
    text-align: center;
}

.disabled-button1 {
    border: none;
    background-color: var(--main);
    height: 100%;
    width: 100%;
}

.disabled-game-result-container{
    display:none;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.game-result-container {
    width: 250px;
    height: 250px;
    z-index: 100;
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 125px;
    background-color: var(--main);
    border: 2px solid var(--fifth);
    animation: fadeIn 1s;
   
}

.game-result-container p{
    text-align:center;
    font-size:40px;
    padding-top: 40px;
}

#restart-button-container{
    width:150px;
    height:75px;
    z-index:100;
    position:fixed;
    left: 0;
    right: 0;
    margin-left:auto;
    margin-right:auto;
}

.restart-button {
    border: 2px solid var(--fifth);
    background-color: var(--third);
    height: 100%;
    width: 100%;
    transition: background-color 0.2s;
    font-size: 25px;
    color: white;
    text-align: center;
}

.restart-button:hover {
    background-color: var(--fifth);
}
/* -------------------------------------------------------------------- */

.custom-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px;
    text-align: center;
    background-color: var(--third);
    color: white;
}

a{
    color: white;
}

navbar{
    background-color:var(--third);
    color: white;
}

.footer-link{
    color: white;
    text-decoration: none;
    font-style: italic;
}

.custom-navbar {
    background-color: var(--third);
    width: 100%;
    padding: 0 5px;
    margin: 0px;
}


.navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--third);
}

.navbar-list li {
    float: left;
}

.navbar-list a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.navbar-list a:hover {
    background-color: var(--fifth);
}

#project-name {
    font-size: 30px;
    color: white;
    display: block;
    text-align: center;
    padding: 5px;
    padding-right:15px;
}