/* ------------------------------Colours----------------------------- */
:root {
    --main: #0260b5; /* Indigo dye */
    --first: #1282a2; /* Cerulean */
    --third: #001f54; /* Penn Blue */
    --fourth: #fefcfb; /* Walter White */
    --fifth: #0a1128; /* Oxford Blue */
}

/* ------------------------------TicTacToe---------------------------- */

#tictactoe-container {
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
    position: fixed;
    left: 0;
    right: 0;
}

.button-holder {
    float: left;
    width: 164px;
    height: 164px;
}

.vertical-line {
    float: left;
    background-color: white;
    width: 4px;
    height: 164px;
}

.horizontal-line {
    clear: both;
    background-color: white;
    width: 100%;
    height: 4px;
}

.btn btn-default btn-circle btn-xl {
    height: 164px;
    width: 164px;
}

.actual-button {
    border: none;
    background-color: var(--main);
    height: 100%;
    width: 100%;
    transition: background-color 0.2s;
    font-size: 100px;
    color: white;
    text-align: center;
}

    .actual-button:hover {
        background-color: var(--fifth);
    }

.disabled-button {
    border: none;
    background-color: var(--third);
    height: 100%;
    width: 100%;
    font-size: 100px;
    color: white;
    text-align: center;
}

.disabled-button1 {
    border: none;
    background-color: var(--main);
    height: 100%;
    width: 100%;
}

.disabled-game-result-container {
    display: none;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.game-result-container {
    width: 250px;
    height: 250px;
    z-index: 100;
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 125px;
    background-color: var(--main);
    border: 2px solid var(--fifth);
    animation: fadeIn 1s;
}

    .game-result-container p {
        text-align: center;
        font-size: 40px;
        padding-top: 40px;
    }

#restart-button-container {
    width: 150px;
    height: 75px;
    z-index: 100;
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.restart-button {
    border: 2px solid var(--fifth);
    background-color: var(--third);
    height: 100%;
    width: 100%;
    transition: background-color 0.2s;
    font-size: 25px;
    color: white;
    text-align: center;
}

    .restart-button:hover {
        background-color: var(--fifth);
    }
/* -------------------------------------------------------------------- */
