#lobby-list-container {
    float:left;
    width:600px;
    margin: 0;
}

#lobbies {
    list-style-type:none;
}

#lobbies > li a {
    border: 2px solid black;
    border-radius: 10px;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color:white;
    transition: background-color 0.1s;
    background-color: var(--third);
}

#lobbies > li a:hover{
    background-color: var(--main);
}

#lobbies > li div {
   display:flex;
   justify-content: space-between;
}

p {
    font-size:20px;
    margin-bottom: 0;
    padding: 10px;
}

.custom-button {
    height: 54px;
    width: 100px;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 25px;
    float: left;
    margin-left: 10px;
    background-color: var(--third);
    color: white;
    transition: background-color 0.2s;
    text-align: center;
}

.custom-button:hover {
    background-color: var(--main);
}
 
#lobby-id-input {
    width:200px;
    color:white;
    background-color: var(--main);
    float:left;
    border-radius: 15px;
    border: 2px solid black;
    margin-left: 100px;
    height: 54px;
    font-size:25px;
    text-align:center;
}

#lobby-id-input::placeholder {
    color: var(--third);    
}


/* ------------------------------Colours----------------------------- */
:root {
    --main: #0260b5; /* Indigo dye */
    --first: #1282a2; /* Cerulean */
    --third: #001f54; /* Penn Blue */
    --fourth: #fefcfb; /* Walter White */
    --fifth: #0a1128; /* Oxford Blue */
}