@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="games-list">
    <h1 class="display-4">Welcome</h1>
    <li>
        <a class="navbar-brand" asp-area="" asp-page="/TicTacToe">Tic Tac Toe</a>
    </li>
</div>
