@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
   Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
   Vestibulum rutrum orci mi, at pulvinar tortor blandit vitae.
   Integer tristique ligula nec ullamcorper pretium.
   Quisque ornare placerat tincidunt.
   Vestibulum tempor diam et orci pharetra luctus.
   Curabitur non nisi vel quam elementum cursus vitae vel purus.
   Praesent dictum dignissim consequat. Donec vehicula ut nisi volutpat lobortis. 
   Ut nulla nunc, consectetur sit amet fringilla id, venenatis vel lectus. 
   Vestibulum elementum mi ac purus fringilla ullamcorper et ut metus. 
   Proin fringilla vehicula lorem, id porttitor tellus dignissim in. 
   Cras porttitor turpis id odio lobortis eleifend. Fusce ut maximus ligula. 
   Proin interdum mauris sed scelerisque luctus. 
   Quisque dignissim augue eget placerat porta.
</p>


<script>
    document.getElementById("privacy-nav-link").style.backgroundColor = "#034078";
    document.getElementById("privacy-nav-link").style.color = "black";
</script>