@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>kurwy na dzwigu</p>


<script>
    document.getElementById("privacy-nav-link").style.backgroundColor = "#034078";
    document.getElementById("privacy-nav-link").style.color = "black";
</script>